body { background: #617365; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-sms-0 { color: #ef853b; font-size: 14px; margin-bottom: 5px; }
.block-helper-1 { color: #202a69; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #ac586e; font-size: 17px; margin-bottom: 5px; }
.block-cart-3 { color: #6bac55; font-size: 17px; margin-bottom: 5px; }
.block-config-4 { color: #76f0a0; font-size: 21px; margin-bottom: 5px; }